@using Microsoft.AspNet.Identity

<nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#" rel="tooltip" title="Coded by Sallam Rady" data-placement="bottom">
                ITI Academy
            </a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a href="/Site/Home/Index" class="nav-link navbar-right">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link navbar-right" style="cursor:pointer"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Departments
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @foreach (var dept in ViewBag.Departments)
                        {
                            <a class="dropdown-item" href="#">@dept.Name</a>
                        }
                        
                    </div>
                </li>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" ,@style="display:inline-flex"}))
                    {
                        @Html.AntiForgeryToken()
                        <li class="nav-item">
                            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log off</a>
                        </li>
                    }
                }
                else
                {

                    <li class="nav-item">
                        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
                    </li>

                }
            </ul>

        </div>
    </div>
</nav>