@model ITIProject.Models.DBFiles.Professor

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<h2>Create Professor</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" ,@placeholder="  Pro. Name"} })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <br/>
        <div class="form-group row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control",@placeholder="  Pro. Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <br/>
        <div class="form-group row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control",@placeholder="   Pro. City" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>
        <br/>
        <div class="form-group row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } ,@placeholder = "   Pro. Salary"})
                @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
            </div>
        </div>
        <br/>
        <div class="form-group row">
            <div class="col-md-2">
                @Html.Label("Department Name", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.DropDownList("Professor_Department_ID", null, htmlAttributes: new { @style="padding:5px" })
                @Html.ValidationMessageFor(model => model.Professor_Department_ID, "", new { @class = "text-danger" })
            </div>
        </div>
        <br/>
        <div class="form-group text-center">
            <input type="submit" value="Create" class="btn btn-danger " style="min-width: 110px;min-height: 40px;font-size: 15px;font-weight: 700;" />
        </div>
    </div>
}

<div>
    <a class="btn btn-info"
       href="/Dashboard/Professors/Index"
       title="Edit"
       style="cursor:pointer;max-height: 35px;text-align: center;">
        <span class="material-icons">list</span>
        <b>Back to List</b>
    </a>

</div>
