@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<!-- Head File -->
@Html.Partial("~/Areas/Site/Views/Shared/_head.cshtml")
<!-- # Head File -->
<body class="index-page sidebar-collapse">

    <!-- Navbar -->
    @Html.Partial("~/Areas/Site/Views/Shared/_navbar.cshtml")
    <!-- End Navbar -->


    <!--Start Showcase interface-->
    @Html.Partial("~/Areas/Site/Views/Shared/_Showcaseinterface.cshtml")
    <!--End Showcase interface-->

    <!-- main Content-->
    <div class="main">
        <!--Alert Messages-->
        @Html.Partial("~/Areas/Site/Views/Shared/_alertMessages.cshtml")
        <!--#Alert Messages-->
        <!--Start Notes-->
        <div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">Let's talk about us</h2>
                        <h5 class="description">We ITI Educational Academy are honored to help you improve your skills and learn the skills required for the labor market by teaching you through the courses offered by our best engineers through courses, whether free or paid.
                            Improve yourself</h5>
                        <br>
                        <a href="/Site/Home/Index" class="btn btn-danger btn-round">See Details</a>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-laptop"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Web Development</h4>
                                <p class="description">Spend your time generating new ideas. And learn implementation skills</p>
                                <a href="/Site/Home/Search?SearchKeyWord=WebDevelopment&derp=Department" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-mobile"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Android Development</h4>
                                <p>Learn Android Development Skills you will know evry thing you want to Know</p>
                                <a href="/Site/Home/Search?SearchKeyWord=AndroidDevelopment&derp=Department" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-bank"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Managment</h4>
                                <p>Learn about management and accounting and everything you need to know in this regard</p>
                                <a href="/Site/Home/Search?SearchKeyWord=Managment&derp=Department" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-sun-fog-29"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Delightful design</h4>
                                <p>Look for exhilarating ideas and design them yourself and you will find everything you want to learn with us.</p>
                                <a href="/Site/Home/Search?SearchKeyWord=Delightful&derp=Department" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Notes-->

        <!--About Us-->
        <div class="section section-dark text-center">
            <div class="container">
                <h2 class="title">Let's talk about us</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar">
                                    <img src="~/Areas/Site/Content/assets/img/SallamRady.jpg" alt="Eng : Sallam Rady">
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="#">
                                    <div class="author">
                                        <h4 class="card-title">Sallam Rady</h4>
                                        <h6 class="card-category">Software Engineer</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://twitter.com/RadySallam" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/in/sallam-rady-3b66b2181/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar">
                                    <img src="~/Areas/Site/Content/assets/img/default.png" alt="Magdy Adel">
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Magdy Adel</h4>
                                        <h6 class="card-category">Software Engineer</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- # About Us-->

        <!-- keep toutch-->
        <div class="section landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="text-center">Keep in touch?</h2>
                        <form action="SendMessage" class="contact-form" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Email</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="nc-icon nc-email-85"></i>
                                            </span>
                                        </div>
                                        <input type="text" name="Email" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <label>Message</label>
                            <textarea class="form-control" name="Content" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                            <div class="row">
                                <div class="col-md-4 ml-auto mr-auto">
                                    <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- # keep toutch-->


        <!-- Start Footer -->
        @Html.Partial("~/Areas/Site/Views/Shared/_footer.cshtml")
        <!-- End Footer -->


    </div>
    <!--# main Content-->

    <!-- Core Scripts  File-->
    @Html.Partial("~/Areas/Site/Views/Shared/_CoreScript.cshtml")
    <script>
        $(".message").fadeOut(5500);
    </script>
 </body>

</html>