@using ITIProject.Models
@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<!-- Head File -->
@Html.Partial("~/Areas/Site/Views/Shared/_head.cshtml")
<!-- # Head File -->
<body class="index-page sidebar-collapse">
    <!-- main Content-->
    @Html.Partial("~/Areas/Site/Views/Shared/_alertMessages.cshtml")
    <div class="page-header" style="background-image: url('/Areas/Site/Content/assets/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 ml-auto mr-auto">
                    <div class="card card-register">
                        <h3 class="title mx-auto">Welcome</h3>
                        <form class="register-form" action="../../Account/Login" method="post">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <label>User Name </label>
                            <input type="text" name="UserName" class="form-control" placeholder="User Name">
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            <label>Password</label>
                            <input type="password" name="Password" class="form-control" placeholder="Password">
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            <button class="btn btn-danger btn-block btn-round">Log In</button>
                        </form>
                        <div class="forgot">
                            <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer register-footer text-center">
            <h6>
                ©
                <script>
          document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by Sallam - Magdy
            </h6>
        </div>
    </div>
    <!--# main Content-->
    <!-- Core Scripts  File-->
    @Html.Partial("~/Areas/Site/Views/Shared/_CoreScript.cshtml")
    <script>
        $(".message").fadeOut(5500);
    </script>
</body>

</html>
