@{
    ViewBag.Title = "Dashboard Home";
}
 <!-- Widgets -->
<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-pink hover-expand-effect">
            <div class="icon">
                <a href="/Dashboard/Cources/Index">
                    <i class="material-icons">playlist_add_check</i>
                </a>
            </div>
            <div class="content">
                <div class="text">Courses</div>
                <div class="number count-to" data-from="0" data-to="@ViewBag.CoursesCount" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-cyan hover-expand-effect">
            <div class="icon">
                <a href="/Dashboard/Departments/Index">
                    <i class="material-icons">widgets</i>
                </a>
            </div>
            <div class="content">
                <div class="text">Departments</div>
                <div class="number count-to" data-from="0" data-to="@ViewBag.DepartmentsCount" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-light-green hover-expand-effect">
            <div class="icon">
                <a href="/Dashboard/Messages/Index">
                    <i class="material-icons">forum</i>
                </a>
            </div>
            <div class="content">
                <div class="text">Messages</div>
                <div class="number count-to" data-from="0" data-to="@ViewBag.MessagesCount" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-orange hover-expand-effect">
            <div class="icon">
                <a href="/Dashboard/Students/Index">
                    <i class="material-icons">person_add</i>
                </a>
            </div>
            <div class="content">
                <div class="text">Students</div>
                <div class="number count-to" data-from="0" data-to="@ViewBag.StudentsCount" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-teal hover-expand-effect">
            <div class="icon">
                <a href="/Dashboard/Professors/Index">
                    <i class="material-icons">school</i>
                </a>
            </div>
            <div class="content">
                <div class="text">Professors</div>
                <div class="number count-to" data-from="0" data-to="@ViewBag.ProfessorsCount" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-blue hover-expand-effect">
            <div class="icon">
                <a href="#">
                    <i class="material-icons">assignment</i>
                </a>
            </div>
            <div class="content">
                <div class="text">Registration processes for courses</div>
                <div class="number count-to" data-from="0" data-to="@ViewBag.MessagesCount" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-red hover-expand-effect">
            <div class="icon">
                <a href="/Dashboard/Pages/Index">
                    <i class="material-icons">pages</i>
                </a>
            </div>
            <div class="content">
                <div class="text">Pages</div>
                <div class="number count-to" data-from="0" data-to="@ViewBag.PagesCount" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-green hover-expand-effect">
            <div class="icon">
                <a href="#">
                    <i class="material-icons">emoji_food_beverage</i>
                </a>
            </div>
            <div class="content">
                <div class="text">Followers</div>
                <div class="number count-to" data-from="0" data-to="@ViewBag.FollowersCount" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>

</div>
<!-- #END# Widgets -->

<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <h2>CPU USAGE (%)</h2>
                    </div>
                    <div class="col-xs-12 col-sm-6 align-right">
                        <div class="switch panel-switch-btn">
                            <span class="m-r-10 font-12">REAL TIME</span>
                            <label>OFF<input type="checkbox" id="realtime" checked><span class="lever switch-col-cyan"></span>ON</label>
                        </div>
                    </div>
                </div>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div id="real_time_chart" class="dashboard-flot-chart"></div>
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->

<!--Task info and browsers-->
<div class="row clearfix">
    <!-- Last 3 Departments Info -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">
                <h2>Last 3 Departments</h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover dashboard-task-infos">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Manager</th>
                                <th>Number Of Student</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="5">I wait Magdy</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Last 3 Departments Info -->
    <!-- Last 3 Messages Info -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">
                <h2>Last 3 Messages</h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover dashboard-task-infos">
                        <thead>
                            <tr>
                                <th>From</th>
                                <th>Time</th>
                                <th>Content</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Last3Messages)
                            {
                                <tr>
                                    <th>@item.Email</th>
                                    <th>@item.Time</th>
                                    <th>@item.Content</th>
                                    <th>
                                        <a class="btn btn-info"
                                           href="#"
                                           title="Repeat"
                                           style="cursor:pointer;max-height: 35px;text-align: center;">
                                            <span class="material-icons">email</span>
                                            <b>Repeat</b>
                                        </a>
                                    </th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Last 3 Messages Info -->
</div>
<!--#Task info and browsers-->

