@using ITIProject.Models
@model LoginViewModel
@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Login_Layout.cshtml";
}

    <div class="login-box">
        <div class="logo">
            <a href="#">Admin<b> Login</b></a>
            <small>Admin sign in to Dashboard.</small>
        </div>
        <div class="card">
            <div class="body">
                @using (Html.BeginForm("Login", "../Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="dashboard" value="Dashboard" />
                    <div class="msg">Sign in to start your session</div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control",@required="required", @autofocus= "autofocus" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 p-t-5">
                            <input type="checkbox" name="RememberMe" id="rememberme" class="filled-in chk-col-pink">
                            <label for="rememberme">Remember Me</label>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-block bg-pink waves-effect" type="submit">SIGN IN</button>
                        </div>
                    </div>
                    <div class="row m-t-15 m-b--20">
                        <div class="col-xs-6">
                            <a href="#">Forgot Password?</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
